* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    /* box-sizing: border-box; */
    /* border: black dashed 1px; */
}

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main{
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form{
}
td{
    position: relative;
    text-align: justify;
}
td.Result{
    text-align: center;
    width: 66.66%;
}

@media only screen and (min-width: 600px){
    table{
        width: 500px;
    }
}