:root{
	--divPkmnDim: 225px;
}
* {
    margin: 0px;
	padding: 0px;
    font-size: 1.01em;
	box-sizing: border-box;
	/* border: black dashed 1px; */
}
html,body{height: 100%;}
div{
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
div#whole-page{
	height: 100%;
}
div.pokemon{
	flex-direction: row;
}
main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
a{
	writing-mode: vertical-rl;
	text-orientation: sideways;
}
.pokemon button{
	width: 110px;
}
img{
    border: yellow 3px solid;
    height: var(--divPkmnDim);
	width: var(--divPkmnDim);
	/* align-self: center; */
}